* {
  box-sizing: border-box;
}

body {
  background: #2f3542;
  color: #fff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  text-align: center;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-width: 70vw;
  min-height: 30vh;
  background-color: aliceblue;
  color: #2f3542;
  text-align: left;
  padding: 10px;
  border-radius: 8px;
}

.container .header {
  position: relative;
  padding: 10px 0 10px 16px;
}

.add-task {
  position: absolute;
  top: 5px;
  right: 6px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  border-top-right-radius: 8px;
}

ol.list {
  margin-top: 10px;
  margin-bottom: 10px;
}

ol.list li {
  font-size: 1.4em;
  border-bottom: 2px dotted #2f3542;
  margin-bottom: 15px;
  padding-bottom: 6px;
  position: relative;
}

i.control {
  position:absolute;
  right: 10px;
  cursor: pointer;
}

.seconds {
  display: none;
}

button.clear {
  padding: 15px;
  width: 147px;
  font-size: 16px;
  border: 2px solid;
  cursor: pointer;
  float: right;
  border-bottom-right-radius: 8px;
  margin: 0 6px 6px 0;
}

button.clear:active {
  transform: scale(0.9);
}

.modal {
  opacity: 0; 
  z-index: -1;
  background-color: aliceblue;
  border-top:2px solid #eee;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  padding: 10px 0;
  position: absolute;
  top:0;
  bottom:0;
  width: 100%;
  transition: 0.3s ease;
}

.modal.show {
  opacity: 1;
  z-index: 2;
}

.modal input {
  padding: 20px;
  font-size:2.5em;
  width:50vw;
}

.modal.buttons {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-between;
}

.modal button {
  width:80px;
  height:40px;
  text-align: center;
  font-size:18px;
  margin-top: 10px;
  cursor: pointer;
}

.hide {
  display: none;
}